table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
  }
  
  table th{
      padding:7px 0;
      text-transform: uppercase;
  }
  table td{
      padding: 5px 0;
      text-align: center;
      border: 1px solid #ffffff;
  }
  

  @media screen and (max-width: 767px) {
    table {
      border: 0;
    }
     
    table thead {
      border: none;
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
    }
    
    table tr {
      display: block;
      border-bottom: 3px solid #ddd;
      margin: 0 30px 30px;
      border-radius: 10px;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: center;
    }
    
  }
  
  
  