@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #474747;
}
h1, h2,h3,h4 {
  font-weight: 700;
  line-height: 1.4;
  color: #222222;
}

.text-color-primary {
  color:#0c96d1 ;
}
.bg-color-primary {
  background-color:#0c96d1 ;
}